.feature {
  background-color: $lightGrayishBlue;
  padding: 5rem 1.5rem;
  text-align: center;
  @include breakpoint-up(laptop) {
    padding: 5rem 5rem;
    text-align: left;
  }
  @include breakpoint-up(desktop) {
    padding: 5rem 10rem;
  }
  &__head {
    margin-bottom: 3rem;
    @include breakpoint-up(tablet) {
      width: 70%;
      margin: 0 auto 2rem auto;
    }
    @include breakpoint-up(laptop) {
      width: 50%;
      margin: 0 0 3rem 0;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      @include breakpoint-up(laptop) {
        font-size: 2.25rem;
      }
    }
    p {
      color: $grayishBlue;
      font-size: .875rem;
      @include breakpoint-up(laptop) {
        font-size: 1rem;
      }
    }
  }
  &__container {
    @include breakpoint-up(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    @include breakpoint-up(laptop) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include breakpoint-up(desktop) {
      gap: 4rem;
    }
  }
  &__card{
    &__icon {
      margin-bottom: 1.5rem;
    }
    &__text {
      h3 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: .875rem;
        @include breakpoint-up(laptop) {
          font-size: 1rem;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
      @include breakpoint-up(tablet) {
        margin: 0;
      }  
    }
  }
}